<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        h1{
            text-align: center;
        }
        p{
            text-align:center;
            font-size: 18px;
        }
        body {
            background-image: url('/hoennbackground.png');
            background-repeat: repeat-y;
        }
        img{
            margin-left: 10%;
       
            width:80%;
        }
    </style>
    <title>Error!</title>
</head>
<body class="w3-pale-blue">
    <div class="w3-container w3-content w3-padding-64 w3-light-grey shadow-container ">
        <img src="https://static.wikia.nocookie.net/errors/images/d/d3/Missingno.jpg" alt="error">
        <p>Oops! A wild error appeared!</p>
      
            <a th:href="@{/}" style="text-decoration: none; margin-left:45%;" class="button w3-panel">Back to home</a>


    </div>
    
</body>
</html>