<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        table, th,td {
        border: 1px solid black;
        border-collapse: collapse;
        } 
        /* div{
            border: 1px solid black;
        } */
        th,td{
            margin:auto;
        }
        body {
            background-image: url('/hoennbackground.png');
            background-repeat: repeat-y;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who's that Pokemon?</title>
</head>
<body class="w3-pale-blue">
    <div class="banner">
        <a th:href="@{/}" style="text-decoration:none">
            <h1 class="bannertext">Pokemon Training Tool</h1>
        </a>
    </div>
    <div class="w3-container w3-content w3-padding-64 w3-light-grey shadow-container">
        <div class="game">
            <div class="formintrotext">
                <p style="font-size:18px">Current score: <span th:text="${score}"></span></p>
            </div>
            <div class="formintrotext">
                <p style="font-size:18px">Playing on: <span th:text="${difficulty}"></span></p>
                <p style="font-size:18px">Remaining lives: <span th:text="${lives}"></span></p>
            </div>
            <div class="formintrotext" th:if="${difficulty.equals('master')}" style="margin-top: 5px;">
                <p style="font-size:18px">Tip: For pokemon with hyphens or spaces in the name, just add a hyphen in between names</p>
           
            </div>
            <!--put the pokemon here-->
            <div class="game">
                <img th:src="${correctPokemon.url}" alt="" style="height:200px; width:auto">
            </div>
            <div th:if="${difficulty.equals('master')}">
                <div style="display: inline-flex;">
                    <form method="POST" th:action="@{/game/whosthatpokemon}">
                        <input type="text" name="pokemonselection">
                        <button style="margin-left: 5px; margin-right:5px;" class="button" type="submit" name="pokemonselection">GO</button>
                    </form>
                </div>
            </div>
            <div th:unless="${difficulty.equals('master')}">
                <div style="display: inline-flex;">
                    <div th:each="pokemon:${pokemonGameList}">
                        <form method="POST" th:action="@{/game/whosthatpokemon}">
                            <button style="margin-left: 5px; margin-right:5px;" class="button" type="submit" name="pokemonselection" th:value="${pokemon.name}"><span th:text="${pokemon.name}"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>