<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css"> 
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        /* table, th,td {
        border: 1px solid black;
        border-collapse: collapse;
        }  */
        body {
            background-image: url('/hoennbackground.png');
            background-repeat: repeat-y;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Scores</title>
</head>
<body class="w3-pale-blue">
    <div class="banner">
        <a th:href="@{/}" style="text-decoration:none">
            <h1 class="bannertext">Pokemon Training Tool</h1>
        </a>
    </div>
    <div class="w3-container w3-content" style="margin-top: 10px; margin-bottom: 20px;">
        <div class="w3-ul w3-border w3-light-grey w3-text-grey shadow-container" style="margin-bottom: 20px;">
            <div>
                <h2 style="margin:auto; width:50%; text-align:center">High Scores</h2>
            </div>

            <br>

            <div style="margin-left:25%; width:50%; text-align: center;">
                <a th:href="@{/game/start}" style="text-decoration: none;" class="button w3-panel">Play the game</a>
            </div>
            <div style="display: flex; width:100%;" >
                <table style="border: none; width:100%;">
                    <thead style="border: none;">
                        <tr style="border: none;">
                            <th>EASY</th>
                            <th>MEDIUM</th>
                            <th>HARD</th>
                            <th>MASTER</th>
                            <th>ARCEUS</th>
                        </tr>
                    </thead>
                    <tbody style="border: none;">
                        <tr style="border: none;">
                            <td>
                <div class="scoreformat">
                    <div th:if="${easy.size() == 0}">
                        <p>
                            There are no scores yet.
                        </p>
                    </div>
                    <div th:unless="${easy.size() == 0}">
                        <table class="scoretable innertable">
                            <thead class="w3-padding">
                                <tr>
                                    <th class="w3-padding typedisplay innertable">Name</th>
                                    <th class="w3-padding typedisplay innertable">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="easyscore:${easy}">
                                    <td class="w3-padding typedisplay innertable" th:text="${easyscore.name}"></td>
                                    <td class="w3-padding typedisplay innertable" th:text="${easyscore.score}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
                <td>
                <div class="scoreformat">
                    <div th:if="${medium.size() == 0}">
                        <p>
                            There are no scores yet.
                        </p>
                    </div>
                    <div th:unless="${medium.size() == 0}">
                        <table class="scoretable innertable">
                            <thead class="w3-padding innertable">
                                <tr>
                                    <th class="w3-padding typedisplay innertable">Name</th>
                                    <th class="w3-padding typedisplay innertable">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="mediumscore:${medium}">
                                    <td class="w3-padding typedisplay innertable" th:text="${mediumscore.name}"></td>
                                    <td class="w3-padding typedisplay innertable" th:text="${mediumscore.score}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
            <td>

                <div class="scoreformat">
                    <div th:if="${hard.size() == 0}">
                        <p>
                            There are no scores yet.
                        </p>
                    </div>
                    <div th:unless="${hard.size() == 0}">
                        <table class="scoretable innertable">
                            <thead class="w3-padding">
                                <tr class="scoretable innertable">
                                    <th class="w3-padding typedisplay innertable">Name</th>
                                    <th class="w3-padding typedisplay innertable">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="hardscore:${hard}">
                                    <td class="w3-padding typedisplay innertable" th:text="${hardscore.name}"></td>
                                    <td class="w3-padding typedisplay innertable" th:text="${hardscore.score}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
                <td>
                <div class="scoreformat">
                    <div th:if="${master.size() == 0}">
                        <p>
                            There are no scores yet.
                        </p>
                    </div>
                    <div th:unless="${master.size() == 0}">
                        <table class="scoretable innertable">
                            <thead class="w3-padding innertable">
                                <tr>
                                    <th class="w3-padding typedisplay innertable">Name</th>
                                    <th class="w3-padding typedisplay innertable" >Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="masterscore:${master}">
                                    <td class="w3-padding typedisplay innertable" th:text="${masterscore.name}"></td>
                                    <td class="w3-padding typedisplay innertable" th:text="${masterscore.score}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
                <td>
                <div class="scoreformat">
                    <div th:if="${arceus.size()==0}">
                        <p>There are no scores.</p>
                    </div>
                    <div th:unless="${arceus.size()==0}">
                        <table class="scoretable innertable">
                            <thead class="w3-padding innertable">
                                <tr>
                                    <th class="w3-padding typedisplay innertable" >Name</th>
                                    <th class="w3-padding typedisplay innertable">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="arceusscore:${arceus}">
                                    <td class="w3-padding typedisplay innertable" th:text="${arceusscore.name}"></td>
                                    <td class="w3-padding typedisplay innertable" th:text="${arceusscore.score}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
                </tbody>
            </tr>
            </table>
            </div>
        </div>
    </div>
    
</body>
</html>