<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        h1{
            text-align: center;
        }
        p{
            text-align:center;
            font-size: 18px;
        }
        body {
            background-image: url('/hoennbackground.png');
            background-repeat: no-repeat;
        }
    </style>
    <title>Pokemon Training Tool</title>
</head>
<body class="w3-pale-blue">
    <div class="banner">
        <a th:href="@{/}" style="text-decoration:none">
            <h1 class="bannertext">Pokemon Training Tool</h1>
        </a>
    </div>
    <div class="w3-container w3-content w3-padding-64 w3-light-grey shadow-container ">
        <p>
            This is a tool meant to help players understand the game better and 
            to give them a clearer view of their team composition to assist them in 
            developing strategies. You can also test your knowledge with the mini game below. Have fun!
        </p>

       <div style="margin-left:20%; width:60%; display:flex">
            <a th:href="@{/pokemon/teamsize}" class="button button-placement button-index" 
            style="display:inline-block; margin-right:20px;">
                <p>Pokemon Team Builder</p>
                <img src="/pokedex_vector.png" style="height:100px;" alt="">
            </a>
        
            <a th:href="@{/game/start}" class="button button-placement button-index" style="display:inline-block; margin-left:20px">
                <p>Who's that Pokemon?</p>
                <img src="/unown.png" style="height:100px" alt="">
            </a>
        </div>

    
    </div>
</body>
</html>