<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/typestyle.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        table, th,td {
        border: 1px solid black;
        border-collapse: collapse;
        } 
        /* div{
            border: 1px solid black;
        } */
        th,td{
            margin:auto;
        }
        body {
            background-image: url('/hoennbackground.png');
            background-repeat: no-repeat;
        }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Display</title>
</head>
<body class="w3-pale-blue">
    <div class="banner">
        <a th:href="@{/}" style="text-decoration:none">
            <h1 class="bannertext">Pokemon Training Tool</h1>
        </a>
    </div>
    <div class="w3-container w3-center w3-light-grey overall-container"  style="overflow:auto; position: relative;">
        <h2>Team display</h2>
        <div th:text="${name}" class="teamname" style="margin-top: 5px; margin-bottom: 5px;"></div>
        <div  style="overflow:auto; position: relative;">
            <table class="fullteam w3-white  w3-card" style="overflow:auto; position: relative;">
                <thead >
                    <tr>
                        <th>Pokemon</th>
                        <th class="typedisplay">Type 1</th>
                        <th class="typedisplay">Type 2</th>
                        <th>Image</th>
                        <th>Type Effectiveness</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pokemon:${pokemonlist}">
                        <td th:text="${pokemon.fullName}"></td>
                        <td th:text="${pokemon.type1}" class="typedisplay"></td>
                        <td th:text="${pokemon.type2}" class="typedisplay"></td>
                        <td><img th:src="@{${pokemon.spriteUrl}}" alt="" width="96" height="96"></td>
                        <td  style="overflow:auto; position: relative;">
                            <table class="typetable move" style="overflow:auto; position: relative;">
                                <thead>
                                    <tr>
                                        <th class="fire">Fire</th>
                                        <th class="water">Water</th>
                                        <th class="grass">Grass</th>
                                        <th class="electric">Electric</th>
                                        <th class="normal">Normal</th>
                                        <th class="flying">Flying</th>
                                        <th class="rock">Rock</th>
                                        <th class="steel">Steel</th>
                                        <th class="bug">Bug</th>
                                        <th class="poison">Poison</th>
                                        <th class="psychic move">Psychic</th>
                                        <th class="ghost move">Ghost</th>
                                        <th class="fighting move">Fighting</th>
                                        <th class="dark move">Dark</th>
                                        <th class="dragon move">Dragon</th>
                                        <th class="fairy move">Fairy</th>
                                        <th class="ground move">Ground</th>
                                        <th class="ice move">Ice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td th:each="typefloat:${pokemon.individualPokemonTypeTotal}" th:text="${typefloat}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Total Team Type Effectiveness</h2>
        </div>
        <div>
            <div>
                <table class="fullteam w3-white w3-card">
                    <thead>
                        <tr>
                            <th class="fire">Fire</th>
                            <th class="water">Water</th>
                            <th class="grass">Grass</th>
                            <th class="electric">Electric</th>
                            <th class="normal">Normal</th>
                            <th class="flying">Flying</th>
                            <th class="rock">Rock</th>
                            <th class="steel">Steel</th>
                            <th class="bug">Bug</th>
                            <th class="poison">Poison</th>
                            <th class="psychic">Psychic</th>
                            <th class="ghost">Ghost</th>
                            <th class="fighting">Fighting</th>
                            <th class="dark">Dark</th>
                            <th class="dragon">Dragon</th>
                            <th class="fairy">Fairy</th>
                            <th class="ground">Ground</th>
                            <th class="ice">Ice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:each="type:${typeList.getTypings()}"><span th:text="${type}"></span></td>
                        </tr>
                    </tbody>
                </table>
        </div>
            <a th:href="@{/api/team/{id}(id=${name})}" class="button w3-panel">View as JSON</a>
            <a th:href="@{/pokemon/goback}" class="button w3-panel">Back to team builder</a>
    </div>
</body>
</html>