<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        h1{
            text-align: center;
        }
        /* div{
            border: 1px solid black;
        } */
        body {
            background-image: url('/hoennbackground.png');
            background-repeat: repeat-y;
        }
    </style>
    <title>Initialise Your Team</title>
</head>
<body class="w3-pale-blue">
    <div class="banner">
        <a th:href="@{/}" style="text-decoration:none">
            <h1 class="bannertext">Pokemon Training Tool</h1>
        </a>
    </div>
        <div class="w3-card w3-light-grey w3-container w3-content w3-padding-64">
            <h2 class="w3-wide w3-center">Pokemon Team Builder</h2>
            <div class="init-form">
                <div class="flex-container">
                <form method="POST" data-th-action="@{/pokemon/teambuilderinit}" data-th-object="${TeamInitialise}">
                    <label for="numberOfPokemon" class="formintrotext">Enter Number Of Pokemon:</label>
                    <div class="teamsize">
                    <input type="number" name="numberOfPokemon" data-th-field="*{numberOfPokemon}" style="margin-left: 30px;">
                    </div>
                    <div data-th-if="${#fields.hasErrors('numberOfPokemon')}"  data-th-errors="*{numberOfPokemon}" style="color:red; margin-left:10px">
                    </div>
                    <div class="form-button teamsize">
                        <button type="submit" style="margin-left: 90px;">GO</button>
                    </div>
                </form>
                <div class="flexchild-right">
                    <p >
                        Enter the number of Pokemon you want in your team here (max 6). You will then be required
                        to enter the names of the pokemon in your team in order for the app to make its calculations. 
                    </p>
                    <p>
                        Alternatively, you can also generate a team by directly calling the REST API, refer to the guide below.
                    </p>
                </div>
                </div>
                <div style="display: flex;">
             
                        <a th:href="@{/pokemon/allteams}" class="button button-placement">View all teams</a>
      
                  
                        <a th:href="@{/pokemon/apiguide}" class="button button-placement">How to use REST API</a>
              
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>