<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/typestyle.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        table, th,td {
        border: 1px solid black;
        border-collapse: collapse;
        } 
        th,td{
            margin:auto;
        }
    </style>
    <title>Your Team</title>
</head>
<body class="w3-pale-blue">
    <div class="w3-container w3-center w3-light-grey overall-container">
        <h2>Your team</h2>
        <div>
            <table class="fullteam w3-white w3-card">
                <thead>
                    <tr>
                        <th>Pokemon</th>
                        <th>Type 1</th>
                        <th>Type 2</th>
                        <th>Image</th>
                        <th>Type Effectiveness</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pokemon:${pokemonTeam}">
                        <td th:text="${pokemon.fullName}"></td>
                        <td th:text="${pokemon.type1}"></td>
                        <td th:text="${pokemon.type2}"></td>
                        <td><img th:src="@{${pokemon.spriteUrl}}" alt=""></td>
                        <td>
                            <table class="typetable">
                                <thead>
                                    <tr>
                                        <th class="fire">Fire</th>
                                        <th class="water">Water</th>
                                        <th class="grass">Grass</th>
                                        <th class="electric">Electric</th>
                                        <th class="normal">Normal</th>
                                        <th class="flying">Flying</th>
                                        <th class="rock">Rock</th>
                                        <th class="steel">Steel</th>
                                        <th class="bug">Bug</th>
                                        <th class="poison">Poison</th>
                                        <th class="psychic">Psychic</th>
                                        <th class="ghost">Ghost</th>
                                        <th class="fighting">Fighting</th>
                                        <th class="dark">Dark</th>
                                        <th class="dragon">Dragon</th>
                                        <th class="fairy">Fairy</th>
                                        <th class="ground">Ground</th>
                                        <th class="ice">Ice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td th:each="typeFloat:${pokemon.individualPokemonTypeTotal}" th:text="${typeFloat}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2>Total Team Type Effectiveness</h2>
        </div>
        <div>
            <table class="fullteam w3-white w3-card">
                <thead>
                    <tr>
                        <th class="fire">Fire</th>
                        <th class="water">Water</th>
                        <th class="grass">Grass</th>
                        <th class="electric">Electric</th>
                        <th class="normal">Normal</th>
                        <th class="flying">Flying</th>
                        <th class="rock">Rock</th>
                        <th class="steel">Steel</th>
                        <th class="bug">Bug</th>
                        <th class="poison">Poison</th>
                        <th class="psychic">Psychic</th>
                        <th class="ghost">Ghost</th>
                        <th class="fighting">Fighting</th>
                        <th class="dark">Dark</th>
                        <th class="dragon">Dragon</th>
                        <th class="fairy">Fairy</th>
                        <th class="ground">Ground</th>
                        <th class="ice">Ice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:each="type:${typeList}"><span th:text="${type}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottomform">
            <div class="teamname ">
                <div th:if="${keyExists}">The team name is already taken.</div>
                <form method="POST" th:action="@{/pokemon/saveteam}" th:object="${saveTeam}">
                    Save your team:
                    <div th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"></div>
                    <input type="text" name="teamname" th:field="*{teamName}">
                    <button type="submit">Save</button>
                </form>
            </div>
            <div class="teamname">
                <a th:href="@{/pokemon/goback}">Back to team builder</a>
            </div>
            <div class="teamname">
                <a th:href="@{/pokemon/allteams}">View all teams</a>
            </div>
        </div>
</body>
</html>