<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        h1{
            margin-left: 10px;
        }
        body {
            background-image: url('/hoennbackground.png');
            background-repeat: repeat-y;
        }
    </style>
    <title>Team Builder</title>
</head>
<body class="w3-pale-blue">
    <div class="banner">
        <a th:href="@{/}" style="text-decoration:none">
            <h1 class="bannertext">Pokemon Training Tool</h1>
        </a>
    </div>
    <div class="overall-container w3-light-grey">
        <h1>Team Builder</h1>
        <div class="text">
            Enter a Pokemon name <br>
           For regional forms and names with more than 1 word, add a hyphen and the form at the end or in between names<br>
            E.g "Vulpix-Alola (no spaces)" <br>
            "tapu-koko"
        </div>
        <br>
        <div class="teambuilderform" style="margin-left:20%;width:60%;">
            <div class="w3-white forty">
                <div th:if="${pokemonAPIerror}" style="color:red; margin-left:10px">
                    The Pokemon you entered does not exist. Try again.
                </div>
                <br>
                <div class="teambuilderinternal formtext">
                    You need <span th:text="${remainingSize}"> </span> more Pokemon
                </div>
                <form method="POST" th:action="@{/pokemon/teambuilder}" th:object="${pokemonInForm}" class="teambuilderinternal">
                        <div>
                            <input type="text" name="fullName" th:field="*{fullName}">
                        </div>
                        <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color:red; margin-left:10px">
                        
                        </div>
                    <div class="form-button">
                    <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="w3-white sixty">
                <div th:if="${pokemonListBuilder.size() == 0}" class="formtext">Team currently empty</div>
                <div th:unless="${pokemonListBuilder.size() == 0}">
                    <table>
                        <thead>
                            <tr>
                                <th class="formtext">Pokemon</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pokemonName:${pokemonListBuilder}">
                                <td th:text="${pokemonName.fullName}"></td>
                                <td>
                                    <img th:src="@{${pokemonName.spriteUrl}}" alt="" width="96" height="96">
                                </td>
                                <td><form method="POST" th:action="@{/pokemon/remove}">
                                    <button type="submit" name="pokemonRemove" th:value="${pokemonName.fullName}">Remove</button>
                                </form></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>

            <a th:href="@{/pokemon/allteams}" class="button w3-panel button-placement" >View all teams</a>
    </div>

</body>
</html>