<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        /* div {text-align:center} */
        h1{
            text-align: center;
        }
        /* div{
            border: 1px solid black;
        } */
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initialise Your Team</title>
</head>
<body class="w3-pale-blue">
    <div class="bannertext">
        <a th:href="@{/}" style="text-decoration:none">
            <h1 >Pokemon Training Tool</h1>
        </a>
    </div>
    <div class="flex-container"></div>
        <div class="w3-card w3-light-grey w3-container w3-content w3-padding-64">
            <h2 class="w3-wide w3-center">Pokemon Team Builder</h2>
            <div class="init-form">
                <div class="flex-container">
                <form method="POST" data-th-action="@{/pokemon/teambuilderinit}" data-th-object="${TeamInitialise}">
                    <label for="numberOfPokemon" class="formintrotext">Enter Number Of Pokemon:</label>
                    <div class="teamsize">
                    <input type="number" name="numberOfPokemon" data-th-field="*{numberOfPokemon}">
                    </div>
                    <div data-th-if="${#fields.hasErrors('numberOfPokemon')}"  data-th-errors="*{numberOfPokemon}" style="color:red; margin-left:10px">
                    </div>
                    <div class="form-button teamsize">
                        <button type="submit">GO</button>
                    </div>
                </form>
                <div class="flexchild-right">
                    <p >
                        Enter the number of Pokemon you want in your team here (max 6). You will then be required
                        to enter the names of the pokemon in your team in order for the app to make its calculations. 
                    </p>
                </div>
                </div>
                <div class="form-child-custom">
                    <div class="button button-placement">
                        <a th:href="@{/pokemon/allteams}">View all teams</a>
                    </div>
                </div>
                <div class="form-child-custom">
                    <div class="button button-placement">
                        <a th:href="@{/pokemon/apiguide}">How to use REST API</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>